$main-bg-color: #10101de5;
$second-bg-color: #3d4050;
$main-text-color: #ffffff;
$second-text-color: #272733;
$accent-color: #3e9cdc;
$border-color: #c3c3c3;
$shadow-color: #0000001a;
$main-font: 'Lato', sans-serif;
$second-font: 'Raleway', sans-serif;
$transition-default: all 0.3s ease;
$desktop: 1280px;
$tablet-large: 1000px;
$tablet: 820px;
$mobile: 768px;
$mobile-medium: 550px;
$mobile-small: 450px; 